<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Pecunia Chart</title>
<!--    <script src="/webjars/chartjs/2.9.4/Chart.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
</head>
<body>
    <div layout:fragment="content" class="container">
        <h1 style="text-align: center">CHART TEST</h1>
        <canvas id="myChart" style="max-width: 800px; max-height: 400px; background: lightgray"></canvas>
        <script th:inline="javascript">

            const chartUrl = "http://localhost:8080/api/v1/report/?report=my_report";

            var ctx = document.getElementById('myChart').getContext('2d');
            // var data =  th:text="${chartData}";
            var chartData = /*[[${chartData}]]*/;
            var data = /*[[${data}]]*/;
                // var labels = /*[[${labels}]]*/;
                var json = /*[[${jsonOpt}]]*/;
                    var labels = chartData.chart.labels;
                    var datasets  = chartData.chart.datasets;
                    var options1 = chartData.chart.options;
                console.log(chartData.chart);
                console.log(chartData.chart.datasets);
                console.log(chartData.chart.datasets.data);
                console.log(options1);
                console.log(json)

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [datasets]
                },
                options: options1
                //     {
                //     scales: {
                //         xAxes: [{
                //             type: 'category',
                //             labels: ['January', 'February', 'March', 'April', 'May', 'June']
                //         }]
                //     }
                // }
                    // {
                    //     title: {
                    //         display: true,
                    //         text: 'Custom Chart Title'
                    //     },
                    //     legend: {
                    //         labels:
                    //             {
                    //             fontColor: 'red',
                    //                 size: 20
                    //         }
                    //     }
                    // }
            });
        </script>

    </div>
</body>
</html>