<header th:fragment="form"
    xmlns:th="http://www.thymeleaf.org">
    <table>
        <!--            <input class="input" type="hidden" th:field="*{created_at}" readonly/>-->
        <!--            <input class="input" type="hidden" th:field="*{updated_at}" readonly/>-->
        <!--            <tr>-->
        <!--                <td>Id</td>-->
        <!--                <td><input class="input" type="number" th:field="*{id}" readonly/></td>-->
        <!--            </tr>-->
        <tr>
            <td>Continent</td>
            <td><input class="input" type="text" th:field="*{continent}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Country En</td>
            <td><input class="input" type="text" th:field="*{countryEn}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Country Pl</td>
            <td><input class="input" type="text" th:field="*{country_pl}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Capital City</td>
            <td><input class="input" type="text" th:field="*{capital_city}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Alfa 2</td>
            <td><input class="input" type="text" th:field="*{alfa_2}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Alfa 3</td>
            <td><input class="input" type="text" th:field="*{alfa_3}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Numeric Code</td>
            <td><input class="input" type="text" th:field="*{numeric_code}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>ISO Code</td>
            <td><input class="input" type="text" th:field="*{iso_code}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Exist</td>
            <td><input class="input" type="checkbox" th:field="*{exists}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <div>
                    <textarea class="input" th:field="*{description}" placeholder="First Name"></textarea>
                </div>
            </td>
        </tr>

    </table>
</header>