<header th:fragment="form"
    xmlns:th="http://www.thymeleaf.org">
    <p th:text="${continentEdit.continentPl}">></p>
    <p th:text="${continentEdit.id}"></p>
<!--    <input class="input" type="text" th:field="*{id}" th:readonly="id" th:type="hidden"/>-->
<!--    <input class="input" type="text" th:field="*{created_at}" th:readonly="created_at"/>-->
<!--    <input class="input" type="text" th:field="*{updated_at}" th:readonly="updated_at"/>-->
    <table>
        <tr>
            <td>Id continent</td>
            <td>
                <select th:field="*{continents.id}">
                    <option th:each="continent : ${continents}"
                            th:value="${continent.id}"
                            th:text="${continent.continentPl}">
                        Address
                    </option>
<!--                    <option th:value="${continentEdit.id}"-->
<!--                            th:text="${continentEdit.continentPl}">-->
<!--                    </option>-->
                </select>
            </td>
        </tr>
        <tr>
            <td>Continent</td>
            <td><input class="input" type="text" th:field="*{continent}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Country En</td>
            <td><input class="input" type="text" th:field="*{countryEn}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Country Pl</td>
            <td><input class="input" type="text" th:field="*{countryPl}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Capital City</td>
            <td><input class="input" type="text" th:field="*{capital_city}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Alfa 2</td>
            <td><input class="input" type="text" th:field="*{alfa_2}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Alfa 3</td>
            <td><input class="input" type="text" th:field="*{alfa_3}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Numeric Code</td>
            <td><input class="input" type="text" th:field="*{numeric_code}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>ISO Code</td>
            <td><input class="input" type="text" th:field="*{iso_code}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Exist</td>
            <td><input class="input" type="checkbox" th:field="*{exists}" placeholder="First Name"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <div>
                    <textarea class="input" th:field="*{description}" placeholder="First Name"></textarea>
                </div>
            </td>
        </tr>

    </table>
</header>