<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Country</title>
</head>
<body>
    <div layout:fragment="content" class="container">
    <h1 style="text-align: center">COUNTRY</h1>

        <a th:href="@{/country/new}" class="btn btn-sm btn-primary">Add new Country</a>
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
            <tr>
                <th>Lp:</th>
                <th>ID</th>
<!--                <th>Continent</th>-->
                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=continent&sortDir=' + ${reverseSortDir}}">Continent</a>
                </th>
<!--                <th>Country EN</th>-->
                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=countryEn&sortDir=' + ${reverseSortDir}}">Country EN</a>
                </th>
                <th>Country PL</th>
                <th>Capital City</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <Block th:each="country, i : ${countries}">
                <tr>
                    <td th:text="${(i.index + 1) + (pageSize * (currentPage - 1))}"></td>
                    <td th:text="${country.id}" class="pt-1 pb-1"></td>
                    <td th:text="${country.continent}" class="pt-1 pb-1"></td>
                    <td th:text="${country.countryEn}" class="pt-1 pb-1"></td>
                    <td th:text="${country.country_pl}" class="pt-1 pb-1"></td>
                    <td th:text="${country.capital_city}" class="pt-1 pb-1"></td>
                    <td class="pt-1 pb-1">
                        <a th:href="@{'/country/show/' + ${country.id}}" class="btn btn-sm btn-info">SHOW</a>
                        <a th:href="@{'/country/edit/' + ${country.id}}" class="btn btn-sm btn-primary">EDIT</a>
                        <a th:href="@{'/country/delete/' + ${country.id}}" class="btn btn-sm btn-danger">DELETE</a>
                    </td>
                </tr>
            </Block>
            </tbody>
        </table>

        <div th:replace="fragments/_paginationB :: paginationB"></div>
    </div>
</body>
</html>