<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Country</title>
</head>
<body>
    <div layout:fragment="content" class="container">
    <h1 style="text-align: center">COUNTRY</h1>

        <a th:href="@{/country/new}" class="btn btn-sm btn-primary">Add new Country</a>
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Continent</th>
                <th>Country EN</th>
                <th>Country PL</th>
                <th>Capital City</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <Block th:each="country : ${countries}">
                <tr>
                    <td th:text="${country.id}" class="pt-1 pb-1"></td>
                    <td th:text="${country.continent}" class="pt-1 pb-1"></td>
                    <td th:text="${country.country_en}" class="pt-1 pb-1"></td>
                    <td th:text="${country.country_pl}" class="pt-1 pb-1"></td>
                    <td th:text="${country.capital_city}" class="pt-1 pb-1"></td>
                    <td class="pt-1 pb-1">
                        <a th:href="@{'/country/show/' + ${country.id}}">SHOW</a>
                        Edit
                        <a th:href="@{'/country/delete/' + ${country.id}}">DELETE</a>
                    </td>
                </tr>
            </Block>
            </tbody>
        </table>

    </div>
</body>
</html>